.badge{
display:inline-block;
padding:10px 20px;
background:#7c3aed30;
border:1px solid #8b5cf6;
border-radius:50px;
margin-bottom:30px;
animation:float 3s infinite;
}


.card{
transition:.3s ease;
}


.card:hover{
transform:translateY(-12px);
box-shadow:
0 0 30px #7c3aed80;
}


.card-icon{
font-size:45px;
margin-bottom:20px;
}


.btn-primary:hover,
.btn-outline:hover{
transform:scale(1.05);
}


@keyframes float{

0%{
transform:translateY(0);
}

50%{
transform:translateY(-10px);
}

100%{
transform:translateY(0);
}

}


.hero h1 span{
background:linear-gradient(
90deg,
#8b5cf6,
#38bdf8
);

-webkit-background-clip:text;

color:transparent;

}
